/* Reset */
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Georgia', serif;
    color: #252525;
}

/* Menu */
.menu {
    background-color: #252525;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, /* Clear fix */
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 1.125em; /* Tamanho da fonte que você quer dividido pelo tamanho da fonte base. ( Nesse caso, 18/16 = 1.125 ) */
}

/* Intro */
.intro {
    background-image: url("../img/bg-intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
    color: #FFF;
}

.intro h1 {
    display: inline-block;
    font-size: 3em;
    text-transform: uppercase;
}

.intro h1::after {
    content: '';
    display: block;
    background-color: #FFF;
    height: 4px;
    width: 20px;
    margin: 10px auto;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
}

/* Sobre */
.sobre {
    padding: 60px 0;
}

.sobre h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}

.sobre-container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre-container::after,
.sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre-item {
    max-width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    display: block;
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2.25em;
    color: #FFF;
    font-style: italic;
    font-weight: normal;
    line-height: 1em;
    background-color: #252525;
    width: 220px;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}

.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    max-width: 460px;
    text-align: center;
    margin: 20px auto;
}

/* Produtos */
.produtos {
    background-color: #E7E4D8;
    padding: 60px 0;
    border-top: 3px solid #D6D3C8;
    border-bottom: 3px solid #D6D3C8;
}

.produtos-container {
    max-width: 960px;
    margin: 0 auto;
}

.produtos-container::after,
.produtos-container::before {
    content: '';
    display: table;
    clear: both;
}

.produtos-item {
    max-width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}

.produtos-item h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}

.produtos-item h2::before {
    content: '';
    display: block;
    background-color: currentColor;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    border: 5px solid #E7E4D8;
    box-shadow: 0 0 0 10px currentColor;
}

.produtos-item h2.produtos-paulista::before {
    color: #492901;
}

.produtos-item h2.produtos-carioca::before {
    color: #C17139;
}

.produtos-item h2.produtos-mineiro::before {
    color: #D7A54D;
}

.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.produtos-btn {
    display: block;
    width: 180px;
    border: 3px solid #252525;
    padding: 10px 0;
    font-size: 1.125em;
    font-weight: bold;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto 0;
}

/* Locais */
.locais {
    max-width: 960px;
    margin: 0 auto;
}

.locais-item {
    clear: both;
    margin: 60px auto;
}

.locais-item::after,
.locais-item::before {
    display: table;
    content: '';
    clear: both;
}

.locais-item img {
    width: 460px;
    float: left;
    display: block;
    margin: 0 10px;
}

.locais-item > div {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}